# Terraform files
**/.terraform
**/sharebuilder401k

# Local PostgreSQL Database Storage
data

# TODO: Remove this and this file.
# User for local testing
run_docker_local.sh

.github/actions/flyway*
